<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <img src="../../../assets/4bu26pa-hp-pavilion-x360-14-cd0007tu-14-inch-2-in-1-laptop_1.jpg" class="card-img-top w-50" alt="...">
    <h5 class="card-title"><span class="text-warning">Id:</span> {{computer._id}}</h5>
    <p class="card-text"><span class="text-warning">CPU:</span> {{computer.CPU}}</p>
 
  </div>
  <ul class="list-group list-group-flush">
    <li><span class="text-warning">Company:</span> {{computer.Company}}</li>
    <li class="list-group-item"><span class="text-warning">RAM: </span>{{computer.RAM}}</li>
    <li class="list-group-item"><span class="text-warning">Resolution: </span> {{computer.Resolution}}</li>
    <li class="list-group-item"><span class="text-warning">Graphics: </span> {{computer.Graphics}}</li>
    <li class="list-group-item"><span class="text-warning">Type: </span> {{computer.Type}}</li>
    <li class="list-group-item"><span class="text-warning">Inches: </span> {{computer.Inches}}</li>
    <li class="list-group-item"><span class="text-warning">Memory: </span> {{computer.Memory}}</li>
    <li class="list-group-item"><span class="text-warning">Operating System: </span> {{computer.OpSys}}</li>
    <li class="list-group-item"><span class="text-warning">Weight: </span> {{computer.Weight}} kg</li>
    <li class="list-group-item"><span class="text-warning">Price: </span> {{computer.Price|currency:"USD"}}</li>    
  </ul>
  <div class="card-footer text-muted">
    
  </div>
</div>