<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top text-center">
    <a class="navbar-brand" routerLink="computer">IN3</a>
    <button (click)="showNavbar = !showNavbar" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div [ngClass]="{ 'show': showNavbar }" class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="alert alert-info mt-3 mr-auto" role="alert">
        The Lab You've Dreamed Of Is a Step Away, <a routerLink="filter" class="alert-link">Just Give it a click</a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input (keyup)="onKeyUp($event)" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <a routerLink="search" [queryParams]="{value:searchValue}" class="btn btn-outline-success my-2 my-sm-0" >Search</a>
      </form>
    </div>
  </nav>
